@use "sass:color";
@use "./variables" as *;
@use "./mixins" as m;

body {
    background-color: #6b7899;
    margin: 0;
    padding: 0;
}

.header {
    background-color: $head-color;
    color: white;
    padding: $padding-base;
}
.main {
    padding: $padding-base;
}
.list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    @include m.mobile {
        grid-template-columns: 1fr;
    }
    gap: 4px;

    .card {
        @include m.card-variant($primary-color,black);
        &.sale  {
            @include m.card-variant(blue, yellow);
        }
        @include m.corner-round;
        position: relative;
        padding:$padding-base;
        color: $text-color;
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap:0.5em;
    
        .sale-label {
            color:yellow;
            font-weight: 800;
            position: absolute;
            top:35px;
            right: 35px;
            transform: translate(50%,-50%) rotate(45deg);
        }
        .image {
            background-color: $head-color;
            grid-row-start: 1;
            grid-row-end: 4;
            grid-column-start: 2;
            @include m.corner-round(0 40px);
        }
        .price {
            color:color.adjust($ui-color,$lightness:-25%);
            font-weight: 700;
        }
        button {
            background-color: $ui-color;
            @include m.corner-round;
            &:hover {
                background-color: color.adjust($ui-color, $lightness: -20%);
                color: white;
                cursor: pointer;
            }
        }
    }
}